body {
    background-color: dimgray;
}

.backgroundLemon {
    background-color: lemonchiffon;
    opacity: 75%;
    color: black;
}

.btn-link {
    color: #e2e2e2;
    border: none;
}

.btn-link-white {
    color: white;
    border: none;
}

.btn-primary {
    background-color: initial;
    border-color: cadetblue;
}

.btn-primary:focus {
    background-color: cadetblue;
}

.btn-primary:hover {
    background-color: cadetblue;
}

.container {
    padding: 8px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.center-self {
    align-self: center;
}

.center-text {
    text-align: center;
}

.child-wide {
    display: inline-block;
    width: 48px;
}

.child {
    display: inline-block;
    font-family: 'Open Sans', Arial, serif;
    width: 19%;
    max-height: 25px;
    font-size: 15px;
    color: #FFF;
    text-align: center;
    padding: 2px;
    margin: 5px;
}

.col-2-run-header {
    max-width: 55px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    background-color: darkslategray;
    margin: 3px;
}

.flex-table {
    display: flex;
    flex: 100%;
    justify-content: space-between;
    color: white;
    text-align: left;
    padding: 2px;
    margin: 1px;
}

.input-group-lap {
    width: 40%;
}

.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.login-title {
    display: flex;
    flex: 0 0 100%;
    font-family: 'Open Sans', Arial, serif;
    font-size: 20px;
    justify-content: center;
    background-color: skyblue;
    color: white;
    padding: 8px;
    margin: 110px 20px 20px;
    text-align: center;
    align-self: center;
}

.run-container {
    background: linear-gradient(
            55deg, #343a40, transparent
    );
    padding: 8px;
}

.run-row-header {
    background-color: darkcyan;
    color: white;
    opacity: 75%;
    font-weight: bolder;
}

.svg-align {
    width:16px;
    height:16px;
    fill: currentColor;
    vertical-align: text-bottom;
}

table {
    padding-top: 30px;
}

th {
    opacity: 55%;
    width: 150px;
    max-width: 150px;
    text-align: left;
    font-weight: bold;
}

td {
    width: 150px;
    max-width: 150px;
    text-align: left;
    font-weight: bold;
    color: #e2e2e2;
}

.textCoral {
    color: coral;
    opacity: 85%;
    font-weight: bold;
}

.textGreen {
    color: lawngreen;
    opacity: 85%;
    font-weight: bold;
}

.text-right {
    text-align: end;
}

.textLemon {
    color: lemonchiffon;
    opacity: 75%;
}

.loader {
    width: 20px;
    height: 20px;
    align-content: center;
    border-radius: 50%;
    border: 2px solid #FFF;
    border-top: 2px solid #007bff;
    background-color: #007bff;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
